/*----------Default HTML Style----------*/
* {
    text-align: center;
}

html {
    height: 100%;
}

p {
    font-size: 20px;
    color: #777;
    line-height: 175%;
}

body {
    background-image: url("../images/cork-wallet.png");
    background-repeat: repeat;
    min-height: 100%;
    position: relative;
    border: 0;
}

header {
    height: 96px;
    border-bottom: 2px #cccccc solid;
    margin-bottom: 36px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: white;
    width: 100%;
}

div {
    width: 956px;
    height: 96px;
    margin: auto;
    border: solid 2px #cccccc;
}

aside {
    border: solid 2px #cccccc;
    background: white;
    width: 266px;
    height: 190px;
    float: right;
    color: #4aaaa5;
}

input {
    box-sizing: border-box;
    width: calc(100%);
    height: 36px;
    text-align: left;
    padding: 0 12px 0 12px;
    margin-bottom: 12px;
    border: 1px #ccc solid;
    border-radius: 4px;
    outline: none;
    transition: 0.3s ease;
}

input[id=message] {
    height: 100px;
    text-align: top;
}

input[type=text]:focus {
    border: 2px solid #bbb;
}

input[type=submit] {
    margin: 6px 0 0 0;
    border: 0;
    border-radius: 0;
    width: 108px;
    height: 40px;
    text-align: center;
    padding: 0;
    color: white;
    font-size: 18px;
    background: #4aaaa5;
}

input[type=submit]:hover {
    background: #499995;
}

textarea {
    box-sizing: border-box;
    outline: none;
    text-align: left;
    width: 100%;
    height: 128px;
    padding: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 12px;
    line-height: 150%;
    border: 1px #ccc solid;
    border-radius: 4px;
}

textarea:focus {
    box-sizing: border-box;
    border: 2px #bbb solid;
}

footer {
    border-top: solid 5px #4aaaa5;
    background: #666;
    color: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96px;
}

/*----------Class style----------*/
.banner {
    width: 272px;
    height: 60px;
    top: 65%;
    border: 1px solid red;
    background: #4aaaa5;
    position: relative;
    color: white;
    font-size: 24px;
    z-index: 1;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noborder {
    border: 0;
}

.alignLeft {
    text-align: left;
}

.button {
    padding: 0 10px 0 10px;
    height: 96px;
    font-size: 20px;
    float: right;
    color: #aaa;
    transition: .2s ease;
}

.button:hover {
    background: #ddd;
}

.icon {
    padding: 0 5px 0 5px;
    height: 56px;
    width: 56px;
    border-radius: 25%;
    overflow: hidden;
    opacity: 1;
    transition: .3s ease;
}

.icon:hover {
    opacity: .4;
}

.contentTitle {
    width: 580px;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 38px;
    border-bottom: 2px #cccccc solid;
    height: 80px;
    justify-content: left;
}

.projectImage {
    position: relative;
    bottom: 60px;
}

.separator {
    padding: 0;
    height: 96px;
    font-size: 20px;
    float: right;
    color: #aaa;
    transition: .2s ease;
}

.project {
    display: block;
    width: 272px;
    height: 200px;
    margin-bottom: 40px;
    background: pink;
    background-image: url("https://placehold.it/272x200")
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.contactBox {
    width: 580px;
    height: auto;
    display: inline-block;
    margin: 34px auto;
}

.contact {
    width: 100%;
    text-align: left;   
}

/*-----------ID Style----------*/
#headerContent {
    border: 0;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: auto;
    height: 96px;
}

#headerName {
    float:left;
    position: relative;
    top: 16px;
    height: 80px;
    padding: 0 30px 0 30px;
    font-size: 36px;
    font-weight: bold;
    background:#4aaaa5;
    color: white;
}

#profilePic {
    float: left;
    margin: 0 30px 12px 0;
}

#mainContent {
    margin: 0;
    width: 646px;
    height: auto;
    background: white;
    display: inline-block;
    position: relative;
    right: 20px;
}

#connectTitle {
    display: inline-block;
    position: relative;
    top: 26px;
    padding: 8px 0 20px 0;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px #ccc solid;
    border-bottom: #ccc 2px solid;
    width: auto;
    height: 20px;
    margin-bottom: 0;
}

#content {
    width: 960px;
    margin: auto;
    margin-bottom: 136px;
    position: relative;
    height: 100%;
}

#textAboutMe {
    margin: 34px;
    width: 580px;
    height: auto;
    float: right;
}

#images {
    width: 230px;
    height: 60px;
    position: relative;
    top: 46px;
}

#container {
    height: 100%;
    width: 100%;
}

#portfolios {
    width: 580px;
    height: 680px;
    margin-top: 36px;
}

@media (max-width: 1108px) {
    #headerContent, #footer, #content, #textAboutMe {
        width: auto;
    }

    #headerName {
        position: relative;
        left: 64px;
    }

    .button, .separator {
        position: relative;
        right: 64px;
    }

    #content {
        margin: 0 64px 136px 64px;
    }
    #mainContent {
        width: calc(100% - 306px);
    }

    .contentTitle {
        width: auto;
        margin: 0 36px 0 36px;
    }
}

@media (max-width: 820px) {
    #profilePic {
        margin-right:  0;
    }
}

@media (max-width: 768px) {
    #mainContent {
        width: 100%;
        position: relative;
        left: -2px;
        top: -2px;
        clear: both;
        margin-bottom: 220px;
    }

    header {
        height: 80px;
    }

    #headerName {
        position: relative;
        left: 16px;
        top: 0;
        padding-top: 6px;
        height: 74px;
    }

    .button, .separator {
        position: relative;
        right: 16px;
        font-size: 16px;
        height: 80px;
    }


    #profilePic {
        margin-right: 32px;
        margin-bottom: 10px;
    }

    #content {
        margin: 0 16px 136px 16px;
        padding: 0;
        height: calc(100% + 290px);
        z-index: 1;
    }

    aside {
        width: 646px;
        position: relative;
        left: 2px;
        bottom: 190px;
        width: 100%;
    }

    #connectTitle {
        margin: 0;
        border-bottom: 2px #ddd solid;
        width: 90%;
        height: 20px;
    }

    #connect {
        text-align: left;
    }

    #images {
        margin: auto;
        padding: 0;
        width: 90%;
    }

    .icon {
        position: relative;
        left: -4px;
        float: left;
    }
}

@media (max-width: 640px) {
    #headerContent {
        display: static;
        margin: 0;
        padding: 0;
    }

    #headerName {
        width: 100%;
        position: relative;
        left: 0;
        padding: 0;
        height: 54px;
        font-size: 20px;
    }

    .button {
        float: right;
        width: 31.5%;
        padding: 0;
        margin: 0;
        height: 40px;
        font-size: 12px;
    }

    .button:hover {
        background-color: white;
    }

    header {
        height: 94px;
    }

    #profilePic {
        width: 100%;
        margin-bottom: 24px;
    }

    .separator {
        display: none;
    }
}